[prod]
client_id=ProdBotID
client_secret=ProdBotSecret
password=ProdBotPassword
username=WarrenPlanBot
user_agent=WPB Dev Bot 0.1

[dev]
client_id=DevBotID
client_secret=DevBotSecret
password=DevBotPassword
username=WarrenPlanBotDev
user_agent=WPB Dev Bot 0.1